# Visual Studio Code
.vscode/
/javascript_nodejs/.DS_Store
.DS_Store
generators/generator-botbuilder/.npmrc
/samples/javascript_es6/01.a.browser-echo/dist
/generators/generator-botbuilder/package-lock.json
package-lock.json
tsconfig.tsbuildinfo

# Python
__pycache__/
env/
#config.py
